* {
      margin: 0;
      padding: 0;
}

/* sheare class */
.open-sans-font {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "wdth" 100;
}

.dark-1 {
      color: #181818;
}

.dark-2 {
      color: #474747;
}

.dark-3 {
      color: #757575;
}

.orenge {
      color: #FD6E0A;
}

.button-primary {
      padding: 18px 35px;
      background-color: #FD6E0A;
      color: white;
      font-size: 20px;
      border-radius: 6px;
      border: none;
}



/* navber section work */
.containt {
      background-color: rgba(255, 231, 215, 1);
}

nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 160px;
}

nav ul {
      display: flex;
      align-items: center;
      margin-top: 20px;
}

nav ul li a {
      text-decoration: none;
      color: #474747;
      font-size: 20px;
}

ul li {
      list-style: none;
      margin-right: 50px;
}

.nav-title {
      font-weight: 800;
      font-size: 45px;
}



/* header */
.containt {
      background-image: url(../images/developer.png), url(../images/header_bg.png);
      background-repeat: no-repeat;
      background-position: top left, bottom right;
}

/* banner style */
.banner {
      display: flex;
      /* margin: 0px 200px; */
      justify-content: space-between;
      margin: 0 35px 0 160px;
      align-items: center;
}

.banner-greetions {
      font-weight: 600;
      font-size: 45px;
}

.banner-title {
      font-weight: bold;
      font-size: 70px;
}

.banner-image {
      width: 584px;
}

.banner-cntant {
      max-width: 580px;
}

.button-secondary {
      padding: 18px 35px;
      color: #FD6E0A;
      font-size: 20px;
      border-radius: 6px;
      border: 1px solid #FD6E0A;
      font-weight: bold;
      margin-left: 20px;
      background-color: rgba(255, 231, 215, 1);
}

.banner-description {
      margin-top: 10px;
      margin-bottom: 20px;
}

/* about me */
main {
      max-width: 1140px;
      margin: 0 auto;
}

.about {
      text-align: center;
      margin-top: 130px;
      background-color: rgba(255, 231, 215, 1);
      padding: 6em;
}

.section-title {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 20px;
}

.section-description {
      text-align: center;
      margin: 0px;
}

.about-items {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
}

/* what i do */
.what {
      text-align: center;
      margin-top: 130px;
      /* padding: 6em; */
      border: 1px solid black;
}

.skill-container {
      display: flex;
      margin-top: 40px;
}

.skill {
      border: 1px solid blue;
      text-align: start;
      padding: 20px;
      gap: 10px;
}